<div>
    <p>Seleziona la settimana</p>
    <input type="date" placeholder="Settimana" class="py-2 px-4 border border-yellow-500 rounded-lg"
        [(ngModel)]="dateSelectionStart" (change)="dateSelectionChanged()" />

    <p *ngIf="dateSelectionStart">Sto mostrando i dati per la settimana dal {{ dateSelectionStart | date : 'dd/MM/yyyy'
        }} al {{
        dateSelectionEnd |
        date : 'dd/MM/yyyy' }}</p>

    <p *ngIf="!dateSelectionStart">
        Sto mostrando i dati relativi a tutto il periodo d'attività dell'azienda
    </p>

    <div class="grid grid-cols-1 xl:grid-cols-3 gap-4">
        <div>
            <div>
                <h2 class="text-2xl">Ordini ricevuti</h2>
                <ul class="grid grid-cols-2">
                    <li><strong>Totale ordini ricevuti:</strong> {{ ordersData.length }}</li>
                    <li><strong>Totale ricavi:</strong> {{ ordersDataSum | currency : '€ ' }}</li>
                </ul>
            </div>

            <p *ngIf="ordersData.length === 0">
                Non ci sono ordini in questo periodo
            </p>

            <ngx-charts-pie-chart *ngIf="ordersData.length > 0" [results]="ordersData" [labels]="showLabels"
                [doughnut]="isDoughnut">
            </ngx-charts-pie-chart>
        </div>

        <div>
            <div>
                <h2 class="text-2xl">Articoli venduti</h2>
                <ul class="grid grid-cols-2">
                    <li><strong>Totale vendite:</strong> {{ itemsDataCount }}</li>
                    <li><strong>Totale ricavi:</strong> {{ itemsDataSum | currency : '€ ' }}</li>
                </ul>
            </div>

            <p *ngIf="itemsData.length === 0">
                Non ci sono articoli venduti in questo periodo
            </p>

            <ngx-charts-pie-chart *ngIf="itemsData.length > 0" [results]="itemsData" [labels]="showLabels"
                [doughnut]="isDoughnut">
            </ngx-charts-pie-chart>
        </div>

        <div>
            <div>
                <h2 class="text-2xl">Categorie degli articoli venduti</h2>
                <ul class="grid grid-cols-2">
                    <li><strong>Totale vendite:</strong> {{ categoriesDataCount }}</li>
                    <li><strong>Totale ricavi:</strong> {{ categoriesDataSum | currency : '€ ' }}</li>
                </ul>
            </div>

            <p *ngIf="categoriesData.length === 0">
                Non ci sono articoli venduti in questo periodo
            </p>

            <ngx-charts-pie-chart *ngIf="categoriesData.length > 0" [results]="categoriesData" [labels]="showLabels"
                [doughnut]="isDoughnut">
            </ngx-charts-pie-chart>
        </div>
    </div>
</div>