<ul class="ml-1 mr-3" uk-tab>
    <li [class]="tabLista ? 'uk-active': ''"><a class="rounded-t-md" (click)="page(true, false)">Lista</a></li>
    <li [class]="tabCreateReadUpdate ? 'uk-active': ''"><a class="rounded-t-md" (click)="page(false, true)">{{titleTab}} {{nameTitle}}</a></li>
</ul>
<div class="p-4">
    <app-table *ngIf="tabLista" [columns]="columns" [rows]="rows" [pagesNumber]="totalPages" (onSelectRow)="selectRow($event)" 
    (onDeleteRow)="deleteRow($event)" (onEditRow)="editRow($event)" (onChangePage)="changePage($event)"
    (onDownFilter)="downFilter()" (onUpFilter)="upFilter($event)" (onClearFilter)="clearFilter($event)" 
    [caricoMagazzinoButton]="caricoMagazzinoButton" (onCaricoRow)="caricoMagazzino($event)"></app-table>
    <div *ngIf="tabCreateReadUpdate">
        <app-formcu *ngIf="show && tipo !== 'Acquisto'" [lista]="campiCRU" [buttonSalva]="buttonSalva" [loading]="loading" 
            (onSave)="saveInput($event)"></app-formcu>
        <div *ngIf="tipo === 'Acquisto'">
            <app-purchase [campiCRU]="campiCRU" [articoli]="listaArticoli" [loading]="loading" [campiAcquisto]="campiAcquisto"
                [type]="titleTab" [columns]="columnsArticoli" [rows]="rowsArticoli" (onNewPurchase)="nuovoAcquisto($event)" 
                (onEditPurchase)="editPurchase($event)" [show]="show" [totalPages]="totalPagesArticoli"></app-purchase>
        </div>
    </div>
</div>
