.uk-button-primary {
    background-color: #FFBD28;

    &:hover, &:focus {
        background-color: darken($color: #FFBD28, $amount: 10);
    }
}
.uk-checkbox:checked, .uk-checkbox:indeterminate, .uk-radio:checked {
    background-color: rgba(248, 170, 44, 0.932);
    border-color: transparent;
}