<form [formGroup]="groupForm" (ngSubmit)="onSubmit()" *ngIf="!loading">
    <div class="grid grid-cols-2 gap-8 ml-3">
        <div class="mt-2" *ngFor="let item of lista">
            <label [for]="item.name" class="text-lg block mb-2" *ngIf="item.type!=='hidden'">{{item.label}}</label>
            <div *ngIf="item.type !== 'select' && item.type !== 'checkbox'">
                <input [id]="item.name" [formControlName]="item.name" required class="uk-input rounded-xl focus:border-yellow-500"
                    [type]="item.type" [placeholder]="item.label.toLowerCase()" [step]="item?.step || 'any'" [min]="item?.min || ''"
                    [max]="item?.max || ''" [maxlength]="item?.maxlenght || ''" [minlength]="item?.minlenght || ''"  [value]="item?.value"
                    [readonly]="item?.readonly">
            </div>
            <div *ngIf="item.type === 'checkbox'">
                <input [id]="item.name" [formControlName]="item.name" required class="uk-checkbox text-4xl inline-block rounded-md focus:border-yellow-500"
                    [type]="item.type" (change)="changeCheck(item.name)" [checked]="item.value" [value]="item.value" >
                <label *ngIf="tipo === 'Acquisto'" [for]="item.name" class="text-lg ml-2 inline-block">{{label}}</label>
                <label *ngIf="tipo !== 'Acquisto'" [for]="item.name" class="text-lg ml-2 inline-block">{{item?.value ? 'Attivo' : 'Non attivo'}}</label>
            </div>
            <div *ngIf="item.type === 'select'">
                <select [id]="item.name" [formControlName]="item.name" [value]="item?.value" class="uk-select rounded-xl focus:border-yellow-500">
                    <option *ngFor="let val of item.selectValue" [value]="val.value">{{val.label}}</option>
                </select>
            </div>
            <div *ngIf="groupForm.controls[item.name].invalid && (groupForm.touched || groupForm.dirty)" 
                class="uk-alert-danger mt-1 p-2 rounded-md text-sm" uk-alert>
                {{item.label}} cannot be empty
            </div>
        </div>
    </div>
    <div class="grid justify-items-center mt-4" *ngIf="buttonSalva">
        <button type="submit" class="uk-button-primary p-2 rounded-md flex items-center">
            <span>{{nomeButton}}</span>
        </button>
    </div>
</form>
<div class="min-w-full min-h-full flex items-center justify-center" *ngIf="loading">
    <fa-icon [icon]="faCircleNotch" class="text-md text-2xl animate-spin"></fa-icon>
</div>