.uk-tab > .uk-active > a {
    background: #f8e4b8;
    border-color: rgb(245, 155, 11);
}
.uk-offcanvas-bar {
    background-color: rgba(235, 175, 36, 0.9);
    background-image: url("/assets/navbar.png");
    background-position: bottom center;
    background-repeat: repeat-x;
    background-size: 60%;
    backdrop-filter: blur(6px);
}