<app-navbar [pages]="pages"></app-navbar>
<ul class="ml-1 mr-3" uk-tab>
    <li [class]="tabLista ? 'uk-active': ''"><a class="rounded-t-md" (click)="page(true, false, false, false, false)">Lista</a></li>
    <li [class]="tabAnalisi ? 'uk-active': ''"><a class="rounded-t-md" (click)="page(false, true, false, false, false)">Analisi</a></li>
    <li *ngIf="visualizzaDettaglio" [class]="tabDettaglio ? 'uk-active': ''" (click)="page(false, false, true, false, true)"><a class="rounded-t-md">Dettaglio Vendita</a></li>
    <li *ngIf="visualizzaDettaglio" [class]="tabArticoli ? 'uk-active': ''" (click)="page(false, false, false, true, true)"><a class="rounded-t-md">Dettaglio Articoli Venduti</a></li>
</ul>
<div class="p-4">
    <app-table *ngIf="tabLista && mostraBody" [columns]="columns" [rows]="rows" (onSelectRow)="selectRow($event)" [pagesNumber]="totalPages" 
    (onChangePage)="changePage($event, 'Ordini')" (onDownFilter)="downFilter('Ordini')" (onUpFilter)="upFilter($event, 'Ordini')" 
    (onClearFilter)="clearFilter($event, 'Ordini')"></app-table>
    <app-formcu *ngIf="tabDettaglio" [lista]="campiCRU" [buttonSalva]="false" [loading]="loading"></app-formcu>
    <div *ngIf="tabAnalisi"><app-sellings-charts></app-sellings-charts></div>
    <app-table *ngIf="tabArticoli && mostraBodyArticoli" [columns]="columnsArticoli" [showItemDetail]="true" [rows]="rowsArticoli" (onSelectRow)="selectRowArticoli($event)"
    [pagesNumber]="totalPagesArticoli" (onChangePage)="changePage($event, 'Articoli')" (onDownFilter)="downFilter('Articoli')" 
    (onUpFilter)="upFilter($event, 'Articoli')" (onClearFilter)="clearFilter($event, 'Articoli')"></app-table>
</div>

<div id="dettarticolo" uk-offcanvas="flip: true; overlay: true;">
    <div class="uk-offcanvas-bar">
        <button class="uk-offcanvas-close flex items-center justify-center" type="button" uk-close>
            <p class="px-2">
                Chiudi
            </p>
        </button>
        <article class="uk-comment mt-4 rounded-md">
            <header class="uk-comment-header">
                <div class="uk-grid-medium uk-flex-middle" uk-grid>
                    <div class="uk-width-expand">
                        <h4 class="uk-comment-title uk-margin-remove text-center">{{itemSelected?.title}}</h4>
                        <ul class="uk-comment-meta uk-subnav uk-subnav-divider uk-margin-remove-top mt-2 flex justify-center">
                            <li class="text-white">{{itemSelected?.asin}}</li>
                            <li class="text-white">{{itemSelected?.price}} &euro;</li>
                        </ul>
                    </div>
                </div>
            </header>
            <div class="uk-comment-body grid grid-cols-2 gap-3">
                <div class="mt-2 text-right font-semibold flex items-center justify-end"><span>Brand</span></div> 
                <div class="mt-2 flex items-center"><span>{{itemSelected?.brand}}</span></div>
                <div class="mt-2 text-right font-semibold flex items-center justify-end"><span>Categoria</span></div> 
                <div class="mt-2 flex items-center"><span>{{itemSelected?.category}}</span></div>
                <div class="mt-2 text-right font-semibold flex items-center"><span>Livello di quantità minima</span></div> 
                <div class="mt-2 flex items-center"><span>{{itemSelected?.lowStockLevel}}</span></div>
            </div>
        </article>
    </div>
</div>
