.uk-offcanvas-bar {
  background-color: rgba(235, 175, 36, 0.9);
  background-image: url("/assets/sky.png"), url("/assets/navbar.png");
  background-position: top left, bottom center;
  background-repeat: no-repeat, repeat-x;
  background-size: 100%, 60%;
  backdrop-filter: blur(6px);

  & a:hover {
    background-color: rgba(151, 114, 34, 0.5);
    background-image: url("/assets/background.png");
    background-size: 100%;
  }
}
