<div class="p-4 grid grid-cols-3 gap-4">
    <div class="flex items-center">
        <ul class="uk-breadcrumb ">
            <li *ngFor="let page of pages">
                <a *ngIf="!page?.active" routerLink="/{{page.link}}">{{page.name}}</a>
                <span *ngIf="page.active" class="cursor-default">{{page.name}}</span>
            </li>
        </ul>
    </div>

    <div class="grid justify-items-center">
        <div class="flex space-x-4 cursor-pointer" routerLink="/home">
            <div class="flex-2 rounded-full h-12 w-12 shadow-2xl">
                <img src="assets/logo-square.png" alt="alpaca logo" style="max-height: 150px" class="rounded-full h-12 w-12"/>
            </div>
            <div class="flex items-center">
                <label class="text-2xl font-semibold cursor-pointer">Alpaca Sellings</label>
            </div>
        </div>
    </div>

    <div class="grid justify-items-end">
        <div class="flex items-center">
            <fa-icon [icon]="faSignOutAlt" class="text-2xl mr-4 cursor-pointer hover:text-yellow-700" routerLink="/logout"></fa-icon>
            <fa-icon [icon]="faBars" class="text-2xl mr-3 cursor-pointer hover:text-yellow-700" uk-toggle="target: #offcanvas-flip"></fa-icon>
        </div>
    </div>

</div>

<div id="offcanvas-flip" uk-offcanvas="flip: true; overlay: true;">
    <div class="uk-offcanvas-bar">
        <button class="uk-offcanvas-close flex items-center justify-center" type="button" uk-close>
            <p class="px-2">
                Chiudi
            </p>
        </button>
        <div class="grid gap-4 grid-cols-1 mt-4">
            <a *ngIf="pageActiveName !== 'Home'" routerLink="/home" class="text-black text-lg p-3 rounded-md hover:no-underline"><fa-icon class="mr-2" [icon]="faHouseUser"></fa-icon>Home</a>
            <a *ngIf="pageActiveName !== 'Acquisti'" routerLink="/purchase" class="text-lg p-3 rounded-md hover:no-underline"><fa-icon class="mr-2" [icon]="faCartPlus"></fa-icon>Acquisti</a>
            <a *ngIf="pageActiveName !== 'Fornitori'" routerLink="/supplier" class="text-lg p-3 rounded-md hover:no-underline"><fa-icon class="mr-2" [icon]="faTrukMoving"></fa-icon>Fornitori</a>
            <a *ngIf="pageActiveName !== 'Vendite'" routerLink="/sellings" class="text-lg p-3 rounded-md hover:no-underline"><fa-icon class="mr-2" [icon]="faCartArrowDown"></fa-icon>Vendite</a>
            <a *ngIf="pageActiveName !== 'Magazzino'" routerLink="/warehouse" class="text-lg p-3 rounded-md hover:no-underline"><fa-icon class="mr-2" [icon]="faWarehouse"></fa-icon>Magazzino</a>
        </div>
    </div>
</div>