<div class="block w-full bg-gray-100 rounded-2xl pb-2" *ngIf="showTable">
    <h1 *ngIf="table?.header" class="text-xl text-center p-4">
        {{ table!.header }}
    </h1>
    <div class="grid grid-cols-{{ columns.length }} pb-4">
        <div *ngFor="let column of columns; let i = index" class="p-4 font-bold {{ column.classes }}" [style]="column.styles">
            {{ column.title }}
            <div *ngIf="column.sortable" class="inline text-right place-self-end float-right cursor-pointer">
                <div class="transform rotate-90"><fa-icon *ngIf="column.sortType === 'Both'" (click)="clearFilter(column.name)" [icon]="faExchangeAlt" class="text-xl"></fa-icon></div>
                <fa-icon *ngIf="column.sortType === 'Desc'" (click)="downFilter(column.name)" [icon]="faLongArrowAltDown" class="text-xl"></fa-icon>
                <fa-icon *ngIf="column.sortType === 'Asc'" (click)="upFilter(column.name)" [icon]="faLongArrowAltUp" class="text-xl"></fa-icon>
            </div>
            <!-- <div *ngIf="column.searchable">
                <div class="uk-inline mt-2">
                    <span class="uk-form-icon uk-form-icon-flip" uk-icon="icon: search"></span>
                    <input class="uk-input rounded-xl focus:border-yellow-500" [type]="column.type" placeholder="Cerca per {{column.title.toLowerCase()}}" [(ngModel)]="column.searchableValue" (ngModelChange)="search(i, column.name)">
                </div>
            </div> -->
        </div>

        <p *ngIf="rows.length === 0" class="col-span-{{ columns.length }} text-center p-4 italic">
            {{ table?.noRowsText ?? 'No data to show' }}
        </p>
        <a *ngFor="let row of rows"
            class="col-span-{{ columns.length }} cursor-pointer transition hover:bg-yellow-100 hover:text-yellow-700 hover:no-underline grid grid-cols-{{ columns.length }}"
            [routerLink]="row.routerLink" [href]="row.href" (click)="selectRow(row)" [attr.uk-toggle]="showItemDetail ? 'target: #dettarticolo' : undefined">

            <span *ngFor="let cell of row.cells" class="p-4 {{ cell.type === 'text' ? cell.classes : '' }} flex items-center"
                [style]="cell.type === 'text' ? cell.styles : ''">

                <a *ngIf="cell.type === undefined || cell.type === 'text'" [routerLink]="cell.routerLink"
                    [href]="cell.href" class="hover:no-underline hover:text-yellow-700">
                    {{ cell.data }}
                </a>

                <img *ngIf="cell.type === 'image'" [src]="cell.src" [alt]="cell.data" [class]="cell.classes" [style]="cell.styles" />

                <div *ngIf="cell.type === 'button'">
                    <button *ngIf="caricoMagazzinoButton && row.cells[3].data === 'Non effettuato'" title="Carico Magazzino" class="mr-4 rounded-full border-blue-700 bg-blue-500 p-2 h-10 w-10 hover:bg-blue-800 focus:outline-none" (click)="caricoMagazzino($event, row)">
                        <fa-icon [icon]="faAmbulance" class="text-md text-white"></fa-icon>
                    </button>
                    <button *ngIf="modifica" title="Modifica" class="rounded-full border-green-700 bg-green-500 p-2 h-10 w-10 hover:bg-green-800 focus:outline-none" (click)="edit($event, row)">
                        <fa-icon [icon]="faEdit" class="text-md text-white"></fa-icon>
                    </button>
                    <button title="Elimina" class="ml-4 rounded-full border-red-700 bg-red-500 p-2 h-10 w-10 hover:bg-red-800 focus:outline-none" (click)="delete($event, row)">
                        <fa-icon [icon]="faTrash" class="text-md text-white"></fa-icon>
                    </button>
                </div>
            </span>
        </a>
    </div>
    <ul class="uk-pagination uk-flex-center">
        <li (click)="previousPage()"><a><span uk-pagination-previous></span></a></li>
        <li><a><span *ngIf="showPreviousDots()" class="cursor-pointer">...</span></a></li>
        <li *ngFor="let pagina of pagine; let i = index" [class]="pagina.active ? 'uk-active' : ''" (click)="changePage(i)">
            <a *ngIf="viewNummber(i)" class="{{pagina.active? 'bg-yellow-300' : ''}} rounded-xl">
                <span class="cursor-pointer {{pagina.active ? 'text-white' : ''}}">{{pagina.number}}</span>
            </a>
        </li>
        <li><a><span *ngIf="showNextDots()" class="cursor-pointer">...</span></a></li>
        <li (click)="nextPage()"><a><span uk-pagination-next></span></a></li>
    </ul>
</div>