<div
    class="main uk-background-muted uk-padding uk-panel min-h-screen bg-repeat-x bg-bottom flex flex-col items-center justify-center">
    <div class="min-w-full flex justify-end">
        <fa-icon [icon]="faSignOutAlt" class="text-3xl mr-4 cursor-pointer text-white hover:text-yellow-700"
            routerLink="/logout"></fa-icon>
    </div>
    <div class="p-5 rounded-lg flex space-x-4 justify-center">
        <div class="flex-2 rounded-full h-24 w-24 shadow-2xl">
            <img src="assets/logo-square.png" alt="alpaca logo" style="max-height: 150px"
                class="rounded-full h-24 w-24" />
        </div>
        <div class="flex-1 flex items-center">
            <label class="text-3xl text-white font-semibold">Alpaca Sellings</label>
        </div>
    </div>
    <div class="uk-padding uk-panel bg-cover bg-center flex items-center justify-center flex-1">
        <div class="h-80 grid grid-cols-2 gap-10" style="width: 40rem">
            <div class="divpage p-5 rounded-lg bg-cover bg-center shadow-lg flex items-center justify-center flex-col cursor-pointer transition"
                routerLink="/purchase">
                <fa-icon [icon]="faCartPlus" class="text-4xl mt-0 mb-3 text-white"></fa-icon>
                <label class="text-2xl text-white font-medium">Acquisti</label>
            </div>
            <div class="divpage p-5 rounded-lg bg-cover bg-center shadow-lg flex items-center justify-center flex-col cursor-pointer transition"
                routerLink="/supplier">
                <fa-icon [icon]="faTrukMoving" class="text-4xl mt-0 mb-3 text-white"></fa-icon>
                <label class="text-2xl text-white font-medium">Fornitori</label>
            </div>
            <div class="divpage p-5 rounded-lg bg-cover bg-center shadow-lg flex items-center justify-center flex-col cursor-pointer transition"
                routerLink="/sellings">
                <fa-icon [icon]="faCartArrowDown" class="text-4xl mt-0 mb-3 text-white"></fa-icon>
                <label class="text-2xl text-white font-medium">Vendite</label>
            </div>
            <div class="divpage p-5 rounded-md bg-cover bg-center shadow-lg flex items-center justify-center flex-col cursor-pointer transition"
                routerLink="/warehouse">
                <fa-icon [icon]="faWarehouse" class="text-4xl mt-0 mb-3 text-white"></fa-icon>
                <label class="text-2xl text-white font-medium">Magazzino</label>
            </div>
        </div>
    </div>
</div>