.main {
  background-color: rgba(255, 191, 40, 0.90);
  background-image: url("/assets/hills.png");
}
.divpage {
  backdrop-filter: blur(6px);
  background-image: url("/assets/background.png");
  background-size: 200%;

  &:hover,
  &:focus {
    background-color: darken($color: #ffbd28, $amount: 10);
    width: 105%;
    height: 110%;
  }
}
