<div class="min-w-full flex items-center justify-center">
    <div class="uk-grid-small" uk-grid>
        <div class="uk-width-expand"><button
                class="{{formAcquisto ? 'border-yellow-700 border-2 backcolore' : 'cursor-not-allowed'}} rounded-full h-8 w-8 focus:outline-none">1</button>
            <span class="text-yellow-600 ml-2">{{formAcquisto ? 'Dettaglio acquisto' : ''}}</span>
        </div>
        <div><button
                class="{{formAcquistoItem ? 'border-yellow-700 border-2 backcolore' : 'cursor-not-allowed'}} rounded-full h-8 w-8 focus:outline-none">2</button>
            <span class="text-yellow-600 ml-2">{{formAcquistoItem ? 'Articoli' : ''}}</span>
        </div>
    </div>
</div>
<div *ngIf="formAcquisto">
    <app-formcu *ngIf="show" [lista]="campiCRU" tipo="Acquisto" [loading]="loading" (onSave)="continuaAcquisto($event)"
        nomeButton="CONTINUA"></app-formcu>
</div>
<div *ngIf="formAcquistoItem">
    <!-- questa form mi esce solo nel nuovo articolo e nel modifica
 sennò mi esce solo la tabella popolata con le item acquistate (popolata anche su edit)-->
    <app-formcu *ngIf="type !== 'Visualizza' && showForm" nomeButton="AGGIUNGI ARTICOLO" [lista]="campiAcquisto" [loading]="false"
        (onSave)="aggiungiItem($event)"></app-formcu>
    <div class="mt-4"></div>
    <app-table [rows]="rows" [columns]="columns" (onDeleteRow)="removeItem($event)" [modifica]="false"
        [pagesNumber]="totalPages"></app-table>
    <div class="grid justify-items-center mt-4">
        <button (click)="confermaAcquisto()" type="submit" class="uk-button-primary p-2 rounded-md flex items-center" *ngIf="type !== 'Visualizza'">
            <span>CONFERMA</span>
        </button>
    </div>
</div>