.main {
  background-image: url("/assets/background.png");
  background-size: 50%;

  & > div {
    backdrop-filter: blur(6px);
    background-color: rgba(255, 255, 255, 0.6);

    .uk-button-primary {
        background-color: #FFBD28;

        &:hover, &:focus {
            background-color: darken($color: #FFBD28, $amount: 10);
        }
    }
  }
}
