<div class="main uk-background-muted uk-padding uk-panel min-h-screen flex items-center justify-center bg-cover bg-repeat bg-center">
    <div class="p-5 rounded-lg shadow-lg flex space-x-4">
        <div class="flex-2 flex items-center">
            <img src="assets/logo-wide.png" alt="alpaca logo" style="max-height: 170px" />
        </div>
        <form class="flex-1" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <div class="uk-margin">
                <label for="user" class="font-bold block mb-2">Username</label>
                <div class="uk-inline block">
                    <span class="uk-form-icon" uk-icon="icon: user"></span>
                    <input class="uk-input rounded-md" id="user" type="text" placeholder="Username"
                        formControlName="username" required>
                </div>
                <div *ngIf="loginForm.controls.username.invalid && (loginForm.touched || loginForm.dirty)"
                    class="uk-alert-danger mt-1 p-2 rounded-md text-sm" uk-alert>
                    Username cannot be empty
                </div>
            </div>
            <div class="uk-margin mb-2">
                <label for="psw" class="font-bold block mb-2">Password</label>
                <div class="flex space-x-2">
                    <div class="uk-inline flex-1 block">
                        <span class="uk-form-icon" uk-icon="icon: lock"></span>
                        <input class="uk-input rounded-md" id="psw" type="password" placeholder="Password"
                            formControlName="password" required>
                    </div>
                    <button *ngIf="!loginFormStatus.loading" type="submit"
                        class="uk-button-primary p-2 rounded-md flex items-center flex-2">
                        <span uk-icon="chevron-right"></span>
                    </button>
                    <div *ngIf="loginFormStatus.loading" uk-spinner></div>
                </div>
                <div *ngIf="loginForm.controls.password.invalid && (loginForm.touched || loginForm.dirty)"
                    class="uk-alert-danger mt-1 mb-0 p-2 rounded-md text-sm" uk-alert>
                    Password cannot be empty
                </div>

                <div *ngIf="loginFormStatus.error" class="uk-alert-danger mt-1 mb-0 p-2 rounded-md text-sm" uk-alert>
                    {{ loginFormStatus.error }}
                </div>
            </div>
        </form>
    </div>
</div>