<app-navbar [pages]="pages"></app-navbar>
<app-pagebody *ngIf="mostraBody" [pages]="pages" [rows]="rows" [campiCRU]="campiCRU" [columns]="columns" nameTitle="Acquisto"
    (onDeleteRow)="deleteRow($event)" (onGetFieldItem)="getFieldItem($event)" [loading]="loading" [show]="show" tipo="Acquisto" 
    [listaArticoli]="listaArticoli" [campiAcquisto]="campiAcquisto" [rowsArticoli]="rowsAcquistiItem" [columnsArticoli]="columnsAquistiItem"
    (onNewPurchase)="nuovoAcquisto($event)" (onEditPurchase)="editItem($event)" [totalPagesArticoli]="totalPagesAcquistiItem" 
    (onChangePage)="changePage($event)" (onDownFilter)="downFilter()" (onUpFilter)="upFilter($event)" (onClearFilter)="clearFilter($event)"
    [caricoMagazzinoButton]="true" (onCaricoRow)="caricoMagazzino($event)"></app-pagebody>
