<app-navbar [pages]="pages"></app-navbar>
<app-pagebody *ngIf="mostraBody" [pages]="pages" [rows]="rows" [campiCRU]="campiCRU" [columns]="columns" [nameTitle]="'Articolo'"
    (onEditItem)="editItem($event)" (onNewItem)="newItem($event)" (onDeleteRow)="deleteRow($event)"
    (onGetFieldItem)="getFieldItem($event)" [loading]="loading" [show]="show" [totalPages]="totalPages" (onChangePage)="changePage($event)"
    (onDownFilter)="downFilter()" (onUpFilter)="upFilter($event)" (onClearFilter)="clearFilter($event)"></app-pagebody>